extends ../layout/index

block contenido
  div.py-10
    h1.text-4xl.my-10.font-extrabold.text-center Bienes 
      span.font-normal  Raices
    h2.text-center.text-2xl.font-extrabold= pagina

    div.mt-8.mx-auto.max-w-md
      div.bg-white.py-8.px-4.shadow
        form(action="").space-y-5
          div
            label.block.tgext-sm.uppercase.text-gray-500.mb-3.font-bold(for="nombre") Nombre
            input#nombre.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-300(placeholder='Nombre' type='text' name='nombre')
          div 
            label.block.tgext-sm.uppercase.text-gray-500.mb-3.font-bold(for="email") Email
            input#email.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-300(placeholder='Email' type='text' name='email')
          div 
            label.block.tgext-sm.uppercase.text-gray-500.mb-3.font-bold(for="password") Password
            input#password.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-300(placeholder='Password' type='password' name='password')
          div 
            label.block.tgext-sm.uppercase.text-gray-500.mb-3.font-bold(for="confirmar_password") Confirmar Password
            input#confirmar_password.w-full.px-3.py-2.border.border-gray-300.rounded-md.placeholder-gray-300(placeholder='Confirmar Password' type='password' name='confirmar password')

          input( class="w-full bg-indigo-600 hover:bg-indigo-700 py-3 cursor-pointer text-white font-bold p"  type="submit" value="Crear Cuenta")  
